@import "tailwindcss";

@font-face {
  font-family: "Roobert-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/5963acbdff6ca0000c98ef8d/Roobert-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Roobert-Medium";
  src: url("https://anima-uploads.s3.amazonaws.com/5963acbdff6ca0000c98ef8d/Roobert-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Roobert-SemiBold";
  src: url("https://anima-uploads.s3.amazonaws.com/5963acbdff6ca0000c98ef8d/Roobert-SemiBold.otf") format("opentype");
}

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --button-text-small-font-family: "Inter", Helvetica;
  --button-text-small-font-size: 14px;
  --button-text-small-font-style: normal;
  --button-text-small-font-weight: 500;
  --button-text-small-letter-spacing: -0.56px;
  --button-text-small-line-height: 18px;
  --dark: rgba(29, 29, 29, 1);
  --light-gray: rgba(246, 246, 246, 1);
  --primary-color: rgba(20, 95, 76, 1);
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
